body,view,html,image,text{
	margin: 0;
	padding: 0;
	box-sizing: border-box !important;
}
.flex-space-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.flex-center{
	display: flex;
	align-items: center;
}
// 垂直水平居中
.flex-center-center{
	display: flex;
	justify-content: center;
	align-items: center;
}